@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');
html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
}

.button{
  width: 66px;
  height: 45px;
  padding: 20px;
  background-color: #a8c6fe;
  margin: 0 3px;
  border: 2px solid #444444;
  border-radius: 9px;
  cursor: pointer;
  box-shadow: 7px 5px 15px rgba(153, 63, 63, 0.5), -7px -5px 15px rgba(35, 40, 202, 0.5);
  font-family: 'Blaka', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-size: large;
}
.button:hover{
  transform: scale(1.05);
  transition: ease-in-out 0.13s;
}
.row{
  margin: 8px 0;
}
.row input:hover{
transform: scale(1.05);
  transition: ease-in-out 0.13s;
}
.rowf{
  margin: 60px;
  border: 4px solid #232323;
  border-radius: 8px;
}
.row input{
  position: relative;
  left:3px;
  width: 291px;
  font-size: 20px;
    margin: 0;
    padding: 10px 0px 10px 10px;
    border: 2px solid black;
    border-radius: 5px;
  box-shadow: 7px 5px 15px rgba(153, 63, 63, 0.3), -7px -5px 15px rgba(35, 40, 202, 0.3);
}
.text-center{
  text-align: center;
  font-family: 'Blaka', cursive;
font-family: 'Inter', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-size: xx-large;
}
body{
  background: #3a88fe;
}
.mx-auto{
  margin: auto;
}

.flex{
  display:flex;
} 
.flex-col{
  flex-direction: column;
}

.items-center{
  align-items: center;
}
